pkg/*
*.bundle
*.[oa]
*.[sl]o
*.l[ao]
ext/memcached/Makefile
ext/memcached/bin
ext/memcached/include
ext/memcached/lib
ext/memcached/share
ext/memcached/Makefile.in
ext/memcached/**/Makefile
ext/memcached/libmemcached-*/**/Makefile
ext/memcached/libmemcached-*/autom4te.cache
ext/memcached/libmemcached-*/clients/memcat
ext/memcached/libmemcached-*/clients/memcp
ext/memcached/libmemcached-*/clients/memdump
ext/memcached/libmemcached-*/clients/memerror
ext/memcached/libmemcached-*/clients/memflush
ext/memcached/libmemcached-*/clients/memrm
ext/memcached/libmemcached-*/clients/memslap
ext/memcached/libmemcached-*/clients/memstat
ext/memcached/libmemcached-*/config.h
ext/memcached/libmemcached-*/config.log
ext/memcached/libmemcached-*/config.status
ext/memcached/libmemcached-*/libmemcached/memcached_configure.h
ext/memcached/libmemcached-*/libtool
ext/memcached/libmemcached-*/stamp*
ext/memcached/libmemcached-*/support/libmemcached.pc
ext/memcached/libmemcached-*/support/libmemcached-fc.spec
ext/memcached/libmemcached-*/tests/atomsmasher
ext/memcached/libmemcached-*/tests/startservers
ext/memcached/libmemcached-*/tests/testapp
ext/memcached/libmemcached-*/tests/testplus
ext/memcached/libmemcached-*/tests/udptest
ext/memcached/rlibmemcached_wrap.c.in
ext/memcached/mkmf.log
*.[1,3]
.libs
/tmp/
